// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  background-image: url("../img/layout/page/index/hero/background.svg");
}

.hero {
  &__content {
    padding-top: 110px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__text {
    margin-bottom: 64px;
  }
}
