<!-- Подвал -->
<footer id="footer">
  <div class="container">
    <div class="footer">
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="footer__info">
            <a class="footer__logo mb-4" href="">
              <img class="logo logo--footer" src="img/logo.svg" alt="">
            </a>

            <span class="mb-4">603163</span>

            <p class="mb-2">
              ООО «Вода сервис»
              <br>
              Бурение и обустройство
              <br>
              скважин на воду
            </p>

            <span>
              2023 г.
            </span>
          </div>
          <!-- /.footer__info -->
        </div>
        <!-- /.col-3 -->

        <div class="col-12 col-md-3">
          <div class="footer__nav">
            <div class="footer__category">Меню</div>
            <nav class="nav nav--footer">
              <ul class="nav__list">
                <li class="nav__item">
                  <a class="nav__link" href="">Проекты</a>
                </li>

                <li class="nav__item">
                  <a class="nav__link" href="">Цены</a>
                </li>

                <li class="nav__item">
                  <a class="nav__link" href="">Наши процессы</a>
                </li>

                <li class="nav__item">
                  <a class="nav__link" href="">О компании</a>
                </li>

                <li class="nav__item">
                  <a class="nav__link" href="">FAQ</a>
                </li>
              </ul>
            </nav>
            <!-- /.nav -->
          </div>
          <!-- /.footer__nav -->
        </div>
        <!-- /.col-3 -->

        <div class="col-12 col-md-3">
          <div class="footer__contact">
            <a class="footer__category link" href="">Контакты</a>

            <div class="callback-list">
              <a class="link mb-1" href="mailto:">vodaservis16@yandex.ru</a>
              <a class="link" href="tel:">+7 843 505-11-55</a>
            </div>
            <!-- /.callback-list -->
          </div>
          <!-- /.footer__contact -->
        </div>
        <!-- /.col-3 -->

        <div class="col-12 col-md-3">
          <div class="footer__office">
            <div class="footer__category">Офис</div>

            <div class="callback-list">
              <a class="link" href="tel:">
                Россия, г. Казань,
                <br>
                Мамадышский тракт, 43 б г.
              </a>
            </div>
            <!-- /.callback-list -->

            <span>Пн - Cб 8:00 - 18:00</span>
          </div>
          <!-- /.footer__office -->
        </div>
        <!-- /.col-3 -->
      </div>
      <!-- /.row -->

      <a class="footer__action d-flex d-md-none" href="#">
        <img src="img/icons/misc/scroll-up.svg" alt="">
      </a>
    </div>
    <!-- /.footer -->
  </div>
  <!-- /.container -->
</footer>

<div class="overlay"></div>

@@include('layout/partials/modal/success.html')
@@include('layout/partials/modal/portfolio.html')

<!-- Скрипты -->
<!-- build:js js/script.min.js -->
<script src="scripts/libraries/lazyload.js"></script>
<script src="scripts/libraries/imask.js"></script>
<script src="scripts/libraries/forms.js"></script>
<script src="scripts/libraries/handorgel.min.js"></script>
<script src="scripts/libraries/swiper.min.js"></script>
<script src="scripts/libraries/smoothScroll.js"></script>
<script src="scripts/libraries/micromodal.min.js"></script>
<script src="scripts/libraries/fslightbox.js"></script>

<script src="scripts/base.js"></script>
<script src="scripts/init.js"></script>
<script src="scripts/header.js"></script>
<script src="scripts/portfolio.js"></script>
<!-- endbuild -->
</body>

</html>