<!DOCTYPE html>
<html lang="ru">

@@include('layout/partials/head.html')

<body class="page">
  <!-- Шапка -->
  <header id="header" class="header">
    <div class="container">
      <div class="header__wrapper">
        <div class="header__logo">
          <a href="">
            <img class="logo logo--header" src="img/logo.svg" alt="">
          </a>
        </div>
        <!-- /.header__logo -->

        <div class="header__nav">
          <nav class="nav nav--header">
            <ul class="nav__list">
              <li class="nav__item dropdown">
                <span class="dropdown__header">
                  <span class="dropdown__link nav__link">Услуги</span>
                  <img alt="" class="dropdown__icon" src="img/icons/control/dropdown__arrow.svg">
                </span>

                <div class="dropdown__content">
                  <a class="dropdown__item" href="">Бурение скважин на воду</a>
                  <a class="dropdown__item" href="">Обустройство скважин</a>
                  <a class="dropdown__item" href="">Водоподготовка</a>
                  <a class="dropdown__item" href="">
                    Бурение скважин
                    для централизованного
                    водоснабжения поселков
                  </a>
                </div>
                <!-- /.dropdown__content -->
              </li>
              <li class="nav__item">
                <a class="nav__link" href="">Проекты</a>
              </li>

              <li class="nav__item">
                <a class="nav__link" href="">Цены</a>
              </li>

              <li class="nav__item">
                <a class="nav__link" href="">Рекомендации</a>
              </li>
            </ul>
          </nav>
          <!-- /.nav -->
        </div>
        <!-- /.header__nav -->

        <div class="header__callback">
          <div class="callback-list">
            <a class="link mb-1" href="tel:">+7 843 505-11-55</a>
            <a class="link " href="mailto:">vodaservis16@yandex.ru</a>
          </div>
          <!-- /.callback-list -->
        </div>
        <!-- /.header__callback -->

        <div class="header__action">
          <a href="#callback" class="button button-outline button-outline--white">Связаться с нами</a>
        </div>
        <!-- /.header__action -->

        <div class="header__menu">
          <div class="header__burger">
            <button class="hamburger hamburger--squeeze" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
          <!-- /.header__burger -->
        </div>
        <!-- /.header__menu -->
      </div>
      <!-- /.header__wrapper -->

      @@include('layout/partials/menu/side.html')

    </div>
    <!-- /.container -->
  </header>