<div id="mobile-menu" class="mobile-menu">
  <div class="mobile-menu__wrapper">
    <nav class="nav nav--mobile">
      <ul class="nav__list">
        <li class="nav__item nav__item--dropdown">
          <img src="img/icons/control/dropdown__arrow.svg" alt="">
          <span class="nav__link">Услуги</span>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Проекты</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Наши процессы</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Цены</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Контакты</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">FAQ</a>
        </li>
      </ul>
    </nav>
    <!-- /.nav -->
  </div>
  <!-- /.mobile-menu__wrapper -->

  <div class="mobile-menu__dropdown">
    <nav class="nav nav--mobile nav--dropdown">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="">Бурение скважин на воду</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Обустройство скважин</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">Водоподготовка</a>
        </li>

        <li class="nav__item">
          <a class="nav__link" href="">
            Бурение скважин
            для централизованного
            водоснабжения поселков
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.nav -->
  </div>
  <!-- /.mobile-menu__dropdown -->
</div>
<!-- /.mobile-menu -->