.input {
  position: relative;

  &[type="number"] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  &--error {
    .input__field {
      border-color: #e64747;
    }

    .input__error {
      top: 100%;
      opacity: 1;
      visibility: visible;
    }
  }

  &__field {
    @include breakpoint($breakpoint-laptop--medium) {
      padding: 16px 25px;
      font-size: $font-size__text--big;
    }

    position: relative;
    z-index: 2;

    width: 100%;
    padding: 20px 25px;

    border: 2px solid $palette-darkblue;
    border-radius: $border-radius--small;
    outline: none;

    background-color: $palette-white;
    color: $color-text__primary;

    font-size: $font-size__text--large;

    &::placeholder {
      color: $color-text__lightgray;
    }
  }

  &__error {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    color: $color-text__red;

    font-weight: $weight-Light;
    font-size: $font-size__text--regular;

    opacity: 0;
    visibility: hidden;

    transition: 0.2s ease;
  }
}
