/* purgecss start ignore */

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar__bg;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid $palette-white;
    background: $scrollbar__contoller;
  }

  &--thin {
    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }

    &::-webkit-scrollbar-thumb {
      border: none;
      border-radius: 0;
    }
  }
}

/* purgecss end ignore */
