[data-editor="default"] {
  @include breakpoint($breakpoint-laptop--medium) {
    font-size: $font-size__text--big;
  }

  @include breakpoint($breakpoint-tablet) {
    font-size: $font-size__text--regular;
  }

  @include breakpoint($breakpoint-mobile--large) {
    font-size: $font-size__text--regular - 2px;
  }

  font-size: $font-size__text--large;

  h3 {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--regular;
    }

    font-weight: $weight-Medium;
    font-size: 27px;
  }

  ul {
    @include breakpoint($breakpoint-laptop--medium) {
      padding-left: 54px;
    }

    @include breakpoint($breakpoint-tablet) {
      padding-left: 24px;
    }

    padding-left: 70px;
    list-style: disc;
  }
}
