// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
  }

  &__item {
  }

  &__link {
    position: relative;
    padding: 5px 0;
  }

  &--header {
    .nav__list {
      display: flex;
      align-items: center;
    }

    .nav__item {
      &:not(:last-child) {
        @include breakpoint($breakpoint-laptop--medium) {
          margin-right: 30px;
        }

        margin-right: 60px;
      }
    }

    .nav__link {
      @include breakpoint($breakpoint-laptop--medium) {
        font-size: $font-size__text--regular - 2px;
      }

      color: $color-text__white;
      font-size: $font-size__text--regular;
      text-transform: uppercase;

      @media (hover: hover) {
        &:hover::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;

        width: 0%;
        height: 1px;

        background-color: $palette-white;

        transition: $transition ease;
      }
    }
  }

  &--footer {
    .nav__list {
      display: inline-flex;
      flex-direction: column;
    }

    .nav__item {
      position: relative;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }

    .nav__link {
      color: #cbcbcb;
      transition: $transition ease;

      @media (hover: hover) {
        &:hover {
          color: $palette-white;

          &::after {
            right: -45px;

            opacity: 1;
            visibility: visible;
          }
        }
      }

      &::after {
        content: url("../img/icons/component/nav/arrow__right.svg");
        position: absolute;
        top: 43%;
        right: -15px;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transform: translateY(-50%);
        transition: $transition ease;
      }
    }
  }
}
