$transition-time: 0.2s;

.modal {
  &__overlay {
    @include breakpoint($breakpoint-tablet) {
      align-items: flex-end;
    }

    position: fixed;
    z-index: $z-index-modal;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(#000000, 0.7);
    backdrop-filter: blur(2px);
  }

  &__container {
    @include breakpoint($breakpoint-laptop--medium) {
      max-width: 910px;
    }

    @include breakpoint($breakpoint-tablet) {
      max-width: 480px;

      padding: 24px;
      padding-top: 64px;

      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    position: relative;

    width: 100%;
    max-width: 1050px;
    padding: 24px 36px;

    border-radius: $border-radius;
    background-color: $palette-white;
  }

  &__header {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 16px;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 24px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--big;
    }

    font-size: $font-size__text--large;
  }

  &__close {
    @include breakpoint($breakpoint-laptop--medium) {
      width: 20px;
      height: 20px;
    }

    width: 24px;
    height: 24px;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;

    transition: opacity 0.15s ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }

    &::before {
      content: url("../img/icons/control/modal__close.svg");
    }
  }

  &__content {
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: fade-in $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  @include breakpoint($breakpoint-tablet) {
    animation: slide-in-long $transition-time cubic-bezier(0, 0, 0.2, 1);
  }

  animation: slide-in $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: fade-out $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  @include breakpoint($breakpoint-tablet) {
    animation: slide-out-long $transition-time cubic-bezier(0, 0, 0.2, 1);
  }

  animation: slide-out $transition-time cubic-bezier(0, 0, 0.2, 1);
}
