$transition-time: 0.2s;

.modal {
  &__overlay {
    @include breakpoint($breakpoint-mobile--large) {
      align-items: flex-end;
    }

    position: fixed;
    z-index: $z-index-modal;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(#000000, 0.7);
  }

  &__container {
    @include breakpoint($breakpoint-tablet) {
      max-width: 480px;
      padding: 50px;
      border-radius: 20px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      padding: 24px;
      padding-top: 64px;

      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    position: relative;

    width: 95%;
    max-width: 780px;
    padding: 88px;

    border-radius: $border-radius;
    background-color: $palette-white;
  }

  &__header {
    margin-bottom: 8px;
    text-align: center;
  }

  &__title {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--big;
    }

    font-size: $font-size__title--small;
  }

  &__close {
    @include breakpoint($breakpoint-tablet) {
      top: 20px;
      right: 20px;

      width: 16px;
      height: 16px;
    }

    position: absolute;
    z-index: 3;
    top: 30px;
    right: 30px;

    width: 24px;
    height: 24px;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;

    transition: opacity 0.15s ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }

    &::before {
      content: url("../img/icons/control/modal__close.svg");
    }
  }

  &__content {
    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--regular;
    }

    font-size: $font-size__text--big + 2px;
    text-align: center;
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: fade-in $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: slide-in $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: fade-out $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: slide-out $transition-time cubic-bezier(0, 0, 0.2, 1);
}
