<section id="portfolio-block" class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title text-center">
        Выполненные проекты
      </h2>
    </div>
    <!-- /.section__header -->

    <div class="portfolio-block">
      <div class="swiper slider-portfolio">
        <div class="portfolio-block__tab swiper-pagination custom-scrollbar custom-scrollbar--thin"></div>
        <!-- /.portfolio-block__tab -->

        <div class="swiper-wrapper">
          <div data-title="Бурение скважин на воду" class="swiper-slide">
            <div class="portfolio-block__category">
              <div class="swiper portfolio-block-content">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="portfolio-block__content">
                      <picture class="lazy">
                        <img class="image image--cover lazy__item" data-src="img/layout/section/portfolio/picture.jpg" alt="">
                        <img alt="" class="preloader" src="img/misc/preloader.svg">
                      </picture>

                      <div class="content">
                        <h3>
                          Название проекта
                        </h3>

                        <p>
                          Бурение скважин воду мобильной установкой включает в себя комплекс предварительных и практических работ.
                        </p>

                        <ul class="list list--advantage">
                          <li>Cрок эксплуатации: <span>до 30 лет</span></li>
                          <li>Срок работ: <span>1 рабочий день</span></li>
                          <li>Гарантия: <span>6 месяцев</span></li>
                        </ul>

                        <ul class="extra list list--advantage">
                          <li>Срок исполнения:&nbsp;<span>3 дня</span></li>
                        </ul>

                        <div class="gallery">
                          <a href="img/layout/modal/portfolio/1.jpg"></a>
                          <a href="img/layout/modal/portfolio/2.jpg"></a>
                          <a href="img/layout/modal/portfolio/3.jpg"></a>
                          <a href="img/layout/modal/portfolio/4.jpg"></a>
                        </div>
                      </div>
                    </div>
                    <!-- /.portfolio-block__content -->
                  </div>
                  <!-- /.swiper-slide -->

                  <div class="swiper-slide">
                    <div class="portfolio-block__content">
                      <picture class="lazy">
                        <img class="image image--cover lazy__item" data-src="img/layout/section/portfolio/picture.jpg" alt="">
                        <img alt="" class="preloader" src="img/misc/preloader.svg">
                      </picture>

                      <div class="content">
                        <h3>
                          Название проекта
                        </h3>

                        <p>
                          Бурение скважин воду мобильной установкой включает в себя комплекс предварительных и практических работ.
                        </p>

                        <ul class="list list--advantage">
                          <li>Cрок эксплуатации: <span>до 30 лет</span></li>
                          <li>Срок работ: <span>1 рабочий день</span></li>
                          <li>Гарантия: <span>6 месяцев</span></li>
                        </ul>

                        <ul class="extra list list--advantage">
                          <li>Срок исполнения:&nbsp;<span>3 дня</span></li>
                        </ul>

                        <div class="gallery">
                          <a href="img/layout/modal/portfolio/1.jpg"></a>
                          <a href="img/layout/modal/portfolio/2.jpg"></a>
                          <a href="img/layout/modal/portfolio/3.jpg"></a>
                          <a href="img/layout/modal/portfolio/4.jpg"></a>
                        </div>
                      </div>
                    </div>
                    <!-- /.portfolio-block__content -->
                  </div>
                  <!-- /.swiper-slide -->

                  <div class="swiper-slide">
                    <div class="portfolio-block__content">
                      <picture class="lazy">
                        <img class="image image--cover lazy__item" data-src="img/layout/section/portfolio/picture.jpg" alt="">
                        <img alt="" class="preloader" src="img/misc/preloader.svg">
                      </picture>

                      <div class="content">
                        <h3>
                          Название проекта
                        </h3>

                        <p>
                          Бурение скважин воду мобильной установкой включает в себя комплекс предварительных и практических работ.
                        </p>

                        <ul class="list list--advantage">
                          <li>Cрок эксплуатации: <span>до 30 лет</span></li>
                          <li>Срок работ: <span>1 рабочий день</span></li>
                          <li>Гарантия: <span>6 месяцев</span></li>
                        </ul>

                        <ul class="extra list list--advantage">
                          <li>Срок исполнения:&nbsp;<span>3 дня</span></li>
                        </ul>

                        <div class="gallery">
                          <a href="img/layout/modal/portfolio/1.jpg"></a>
                          <a href="img/layout/modal/portfolio/2.jpg"></a>
                          <a href="img/layout/modal/portfolio/3.jpg"></a>
                          <a href="img/layout/modal/portfolio/4.jpg"></a>
                        </div>
                      </div>
                    </div>
                    <!-- /.portfolio-block__content -->
                  </div>
                  <!-- /.swiper-slide -->
                </div>
                <!-- /.swiper-wrapper -->

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
              <!-- /.swiper portfolio-block-content -->

              <div class="swiper portfolio-block-thumb">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="portfolio-block__thumb">
                      <picture class="lazy">
                        <img class="image image--cover lazy__item" data-src="img/layout/section/portfolio/thumb.jpg" alt="">
                        <img alt="" class="preloader" src="img/misc/preloader.svg">
                      </picture>

                      <h4>Название проекта</h4>
                      <ul class="list list--advantage">
                        <li>Срок работ: <span>3 дня</span></li>
                      </ul>
                    </div>
                    <!-- /.portfolio-block__thumb -->
                  </div>
                  <!-- /.swiper-slide -->

                  <div class="swiper-slide">
                    <div class="portfolio-block__thumb">
                      <picture class="lazy">
                        <img class="image image--cover lazy__item" data-src="img/layout/section/portfolio/thumb.jpg" alt="">
                        <img alt="" class="preloader" src="img/misc/preloader.svg">
                      </picture>

                      <h4>Название проекта</h4>
                      <ul class="list list--advantage">
                        <li>Срок работ: <span>3 дня</span></li>
                      </ul>
                    </div>
                    <!-- /.portfolio-block__thumb -->
                  </div>
                  <!-- /.swiper-slide -->

                  <div class="swiper-slide">
                    <div class="portfolio-block__thumb">
                      <picture class="lazy">
                        <img class="image image--cover lazy__item" data-src="img/layout/section/portfolio/thumb.jpg" alt="">
                        <img alt="" class="preloader" src="img/misc/preloader.svg">
                      </picture>

                      <h4>Название проекта</h4>
                      <ul class="list list--advantage">
                        <li>Срок работ: <span>3 дня</span></li>
                      </ul>
                    </div>
                    <!-- /.portfolio-block__thumb -->
                  </div>
                  <!-- /.swiper-slide -->
                </div>
                <!-- /.swiper-wrapper -->
              </div>
              <!-- /.swiper portfolio-block-thumb -->
            </div>
            <!-- /.portfolio-block__category -->

            <div class="portfolio-block__action">
              <a href="" class="button button-primary">Смотреть все проекты</a>
            </div>
            <!-- /.portfolio-block__action -->
          </div>
          <!-- /.swiper-slide -->

          <div data-title="Водоснабжение" class="swiper-slide">
            <div class="portfolio-block__category">
              <div class="swiper portfolio-block-content">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="portfolio-block__content">
                      <picture class="lazy">
                        <img class="image image--cover lazy__item" data-src="img/layout/section/portfolio/picture.jpg" alt="">
                        <img alt="" class="preloader" src="img/misc/preloader.svg">
                      </picture>

                      <div class="content">
                        <h3>
                          Название проекта
                        </h3>

                        <p>
                          Бурение скважин воду мобильной установкой включает в себя комплекс предварительных и практических работ.
                        </p>

                        <ul class="list list--advantage">
                          <li>Cрок эксплуатации: <span>до 30 лет</span></li>
                          <li>Срок работ: <span>1 рабочий день</span></li>
                          <li>Гарантия: <span>6 месяцев</span></li>
                        </ul>

                        <ul class="extra list list--advantage">
                          <li>Срок исполнения:&nbsp;<span>3 дня</span></li>
                        </ul>

                        <div class="gallery">
                          <a href="img/layout/modal/portfolio/1.jpg"></a>
                          <a href="img/layout/modal/portfolio/2.jpg"></a>
                          <a href="img/layout/modal/portfolio/3.jpg"></a>
                          <a href="img/layout/modal/portfolio/4.jpg"></a>
                        </div>
                      </div>
                    </div>
                    <!-- /.portfolio-block__content -->
                  </div>
                  <!-- /.swiper-slide -->

                  <div class="swiper-slide">
                    <div class="portfolio-block__content">
                      <picture class="lazy">
                        <img class="image image--cover lazy__item" data-src="img/layout/section/portfolio/picture.jpg" alt="">
                        <img alt="" class="preloader" src="img/misc/preloader.svg">
                      </picture>

                      <div class="content">
                        <h3>
                          Название проекта
                        </h3>

                        <p>
                          Бурение скважин воду мобильной установкой включает в себя комплекс предварительных и практических работ.
                        </p>

                        <ul class="list list--advantage">
                          <li>Cрок эксплуатации: <span>до 30 лет</span></li>
                          <li>Срок работ: <span>1 рабочий день</span></li>
                          <li>Гарантия: <span>6 месяцев</span></li>
                        </ul>

                        <ul class="extra list list--advantage">
                          <li>Срок исполнения:&nbsp;<span>3 дня</span></li>
                        </ul>

                        <div class="gallery">
                          <a href="img/layout/modal/portfolio/1.jpg"></a>
                          <a href="img/layout/modal/portfolio/2.jpg"></a>
                          <a href="img/layout/modal/portfolio/3.jpg"></a>
                          <a href="img/layout/modal/portfolio/4.jpg"></a>
                        </div>
                      </div>
                    </div>
                    <!-- /.portfolio-block__content -->
                  </div>
                  <!-- /.swiper-slide -->

                  <div class="swiper-slide">
                    <div class="portfolio-block__content">
                      <picture class="lazy">
                        <img class="image image--cover lazy__item" data-src="img/layout/section/portfolio/picture.jpg" alt="">
                        <img alt="" class="preloader" src="img/misc/preloader.svg">
                      </picture>

                      <div class="content">
                        <h3>
                          Название проекта
                        </h3>

                        <p>
                          Бурение скважин воду мобильной установкой включает в себя комплекс предварительных и практических работ.
                        </p>

                        <ul class="list list--advantage">
                          <li>Cрок эксплуатации: <span>до 30 лет</span></li>
                          <li>Срок работ: <span>1 рабочий день</span></li>
                          <li>Гарантия: <span>6 месяцев</span></li>
                        </ul>

                        <ul class="extra list list--advantage">
                          <li>Срок исполнения:&nbsp;<span>3 дня</span></li>
                        </ul>

                        <div class="gallery">
                          <a href="img/layout/modal/portfolio/1.jpg"></a>
                          <a href="img/layout/modal/portfolio/2.jpg"></a>
                          <a href="img/layout/modal/portfolio/3.jpg"></a>
                          <a href="img/layout/modal/portfolio/4.jpg"></a>
                        </div>
                      </div>
                    </div>
                    <!-- /.portfolio-block__content -->
                  </div>
                  <!-- /.swiper-slide -->
                </div>
                <!-- /.swiper-wrapper -->

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
              </div>
              <!-- /.swiper portfolio-block-content -->

              <div class="swiper portfolio-block-thumb">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="portfolio-block__thumb">
                      <picture class="lazy">
                        <img class="image image--cover lazy__item" data-src="img/layout/section/portfolio/thumb.jpg" alt="">
                        <img alt="" class="preloader" src="img/misc/preloader.svg">
                      </picture>

                      <h4>Название проекта</h4>
                      <ul class="list list--advantage">
                        <li>Срок работ: <span>3 дня</span></li>
                      </ul>
                    </div>
                    <!-- /.portfolio-block__thumb -->
                  </div>
                  <!-- /.swiper-slide -->

                  <div class="swiper-slide">
                    <div class="portfolio-block__thumb">
                      <picture class="lazy">
                        <img class="image image--cover lazy__item" data-src="img/layout/section/portfolio/thumb.jpg" alt="">
                        <img alt="" class="preloader" src="img/misc/preloader.svg">
                      </picture>

                      <h4>Название проекта</h4>
                      <ul class="list list--advantage">
                        <li>Срок работ: <span>3 дня</span></li>
                      </ul>
                    </div>
                    <!-- /.portfolio-block__thumb -->
                  </div>
                  <!-- /.swiper-slide -->

                  <div class="swiper-slide">
                    <div class="portfolio-block__thumb">
                      <picture class="lazy">
                        <img class="image image--cover lazy__item" data-src="img/layout/section/portfolio/thumb.jpg" alt="">
                        <img alt="" class="preloader" src="img/misc/preloader.svg">
                      </picture>

                      <h4>Название проекта</h4>
                      <ul class="list list--advantage">
                        <li>Срок работ: <span>3 дня</span></li>
                      </ul>
                    </div>
                    <!-- /.portfolio-block__thumb -->
                  </div>
                  <!-- /.swiper-slide -->
                </div>
                <!-- /.swiper-wrapper -->
              </div>
              <!-- /.swiper portfolio-block-thumb -->
            </div>
            <!-- /.portfolio-block__category -->

            <div class="portfolio-block__action">
              <a href="" class="button button-primary">Смотреть все проекты</a>
            </div>
            <!-- /.portfolio-block__action -->
          </div>
          <!-- /.swiper-slide -->
        </div>
        <!-- /.swiper-wrapper -->
      </div>
      <!-- /.swiper -->
    </div>
    <!-- /.portfolio -->
  </div>
  <!-- /.container -->
</section>