<section id="seo" class="section">
  <div class="container">
    <div class="seo">
      <div class="row">
        <div class="col-5">
          <picture class="seo__picture lazy">
            <img class="image image--cover lazy__item" data-src="img/layout/section/seo/picture.jpg" alt="">
            <img alt="" class="preloader" src="img/misc/preloader.svg">
          </picture>
        </div>
        <!-- /.col-5 -->

        <div class="col-7">
          <div class="seo__content">
            <div class="section__header">
              <h2 class="section__title">
                Компания Вода Сервис
              </h2>
            </div>
            <!-- /.section__header -->

            <div data-editor="default" class="seo__editor">
              <p>
                Буровая компания Вода Сервис зародилась в 2008 году. Компанию организовали специалисты по бурению скважин.
              </p>

              <br>
              <br>
              <br>

              <h3>Мы предерживаемся следующим принципам :</h3>
              <br>
              <ul>
                <li>Создавать качественный продукт - разведывательно-эксплуатационные скважины;</li>
                <li>Быть лучшими на рынке внедрять новые технологи и форматы работы с клиентами;</li>
                <li>Создавать выгодные решения - комплексные решения по проведению буровых, монтажных работ и поставке материалов;</li>
              </ul>
            </div>
            <!-- /.seo__editor -->
          </div>
          <!-- /.seo__content -->
        </div>
        <!-- /.col-7 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.seo -->
  </div>
  <!-- /.container -->
</section>