<section id="terminology" class="section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title text-center">
        Терминология
      </h2>
    </div>
    <!-- /.section__header -->

    <div data-parent class="terminology">
      @@include('layout/template/component/accordion.html')

      <div class="terminology__action">
        <button data-handler="ajax" data-target="" data-paged="" data-count="" data-max-pages="" class="button button-primary">Загрузить еще</button>
      </div>
      <!-- /.terminology__action -->
    </div>
    <!-- /.terminology -->
  </div>
  <!-- /.container -->
</section>

<div class="promotion-item">
  <div class="promotion-item__picture">
    [metaslider id="11499"]
  </div>

  <div class="promotion-item__wrapper">
    Изготовим и установим москитную сетку на месте за 2 часа.

    Получить очень просто:
    <ul class="spisok_or">
      <li>Позвонить и согласовать время выезда</li>
      <li>Дождаться Сервисной службы</li>
      <li>Узнать стоимость и оплатить заказ</li>
      <li>2 часа и у вас установлена качественная сетка с гарантией 1 год</li>
    </ul>

    Услуга доступна только для профиля стандартных цветов: белого, серого и коричневого.

    Долой насекомых и пыль!

    <div class="promotion-item__action">
      <a class="knopka" href="#win1">Заказать звонок</a>
    </div>
    <!-- /.promotion-item__action -->
  </div>
  <!-- /.promotion-item__wrapper -->
</div>
<!-- /.promotion-item -->