// -----------------------------------------------------------------------------
// В этом файле содержатся дополнительные или общие классы
// -----------------------------------------------------------------------------

.disable-scroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: rgba($color: #000000, $alpha: 0.45);

  opacity: 0;
  visibility: hidden;

  transition: all 0.15s ease;

  &--show {
    opacity: 1;
    visibility: visible;
  }
}
