// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  @include breakpoint($breakpoint-laptop--medium) {
    font-size: $font-size__text--regular;
  }

  color: $color-text__primary;

  font-size: $font-size__text--big;
  font-family: SFProDisplay, sans-serif;

  line-height: $line-height--primary;
}
