// -----------------------------------------------------------------------------
// В этом файле прописываются стили относящиеся ко всем страницам
// -----------------------------------------------------------------------------

.page {
  & > main[class="offset"] {
    margin-top: 95px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__title--large - 5px;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--large;
    }

    color: $color-text__darkblue;
    font-size: $font-size__title--large;
  }

  &__text {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--regular;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--regular - 2px;
    }

    font-size: $font-size__text--big;
  }
}
