// -----------------------------------------------------------------------------
// В этом файле прописываются стили относящиеся ко всем страницам
// -----------------------------------------------------------------------------

.page {
  & > main {
    margin-top: 95px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__title--large - 5px;
    }

    font-size: $font-size__title--large;
  }

  &__text {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--regular;
    }

    font-size: $font-size__text--big;
  }
}
