#callback {
  @include breakpoint($breakpoint-laptop--medium) {
    font-size: $font-size__text--big;
  }

  @include breakpoint($breakpoint-tablet) {
    padding-top: 24px;
    padding-bottom: 80px;
  }

  padding-top: 80px;
  padding-bottom: 160px;
}

.callback {
  @include breakpoint($breakpoint-tablet) {
    text-align: center;
  }

  .section__header {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 24px;
    }
  }

  .section__text {
    color: $color-text__gray;

    a {
      @include breakpoint($breakpoint-laptop--medium) {
        font-size: $font-size__text--big + 2px;
      }

      @include breakpoint($breakpoint-tablet) {
        margin-top: 4px;
        margin-bottom: 24px;
        font-weight: $weight-Bold;
      }

      font-size: $font-size__text--large;
    }
  }

  .form {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-top: 54px;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-top: 12px;
    }

    margin-top: 75px;
  }
}
