#hero {
  @include breakpoint($breakpoint-laptop--medium) {
    min-height: 520px;
  }

  @include breakpoint($breakpoint-tablet) {
    min-height: 480px;
  }

  min-height: 650px;
  background-image: url("../img/layout/misc/hero-background.svg");
}

main#home,
main#portfolio-page {
  #hero .hero__background {
    @include breakpoint($breakpoint-laptop--medium) {
      width: 600px;
    }

    @include breakpoint($breakpoint-tablet) {
      top: 120px;
      right: 45%;
      width: 350px;
      transform: translateX(50%);
    }

    top: -120px;
    right: -50px;
  }
}

main#portfolio-page {
  .hero__picture {
    margin-top: 50px;
  }
}

main#about #hero {
  .hero__background {
    @include breakpoint($breakpoint-laptop--medium) {
      top: 0;
      right: 0;
      width: 500px;
    }

    @include breakpoint($breakpoint-tablet) {
      right: -60px;
      width: 300px;
    }

    top: -100px;
    right: 110px;
  }
}

.hero {
  position: relative;

  & > .row {
    position: relative;
    z-index: 2;
  }

  &__content {
    @include breakpoint($breakpoint-laptop--medium) {
      padding-top: 72px;
    }

    @include breakpoint($breakpoint-tablet) {
      padding-top: 32px;
    }

    padding-top: 110px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 24px;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 18px;
    }

    margin-bottom: 40px;
  }

  &__text {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 48px;
    }

    @include breakpoint($breakpoint-tablet) {
      min-height: initial;
      margin-bottom: 32px;
    }

    min-height: 104px;
    margin-bottom: 64px;
  }

  &__background {
    position: absolute;
    z-index: 1;
  }

  &__picture {
    @include breakpoint($breakpoint-tablet) {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}
