#contact {
  @include breakpoint($breakpoint-laptop--medium) {
    padding-bottom: 0;
  }

  padding-bottom: 64px;
}

.contact {
  &__item {
    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }

  &__important {
    color: $palette-blue;
    font-weight: $weight-Bold;
  }
}
