#contact {
  @include breakpoint($breakpoint-laptop--medium) {
    padding-bottom: 0;
  }

  padding-bottom: 64px;
}

.contact {
  &__list {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 40px;
    }
  }

  &__item {
    @include breakpoint($breakpoint-mobile--medium) {
      font-size: $font-size__text--small;
    }

    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }

  &__important {
    color: $palette-blue;
    font-weight: $weight-Bold;
  }
}
