// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-blue: #406882;
$palette-darkblue: #1a374d;
$palette-gray: #dddddd;

// Цветовая палитра текста
$color-text__primary: #000000;
$color-text__black: #0f0f0f;
$color-text__red: #ee3349;
$color-text__blue: #406882;
$color-text__darkblue: #1a374d;
$color-text__lightgray: #9e9e9e;
$color-text__gray: #3e3e3e;
$color-text__white: #f3f7fa;
