.card-portfolio {
  @include breakpoint($breakpoint-tablet) {
    padding: 8px;
  }

  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 18px;
  border-radius: $border-radius;

  background-color: $palette-white;
  box-shadow: 7px 4px 22px rgba(#b4b4b4, 0.25);

  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      .card-portfolio__picture img {
        transform: scale(1.05);
      }
    }
  }

  &__hidden {
    display: none;
  }

  &__picture {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 8px;
    }

    overflow: hidden;

    width: 100%;
    margin-bottom: 20px;

    border-radius: $border-radius--small;

    aspect-ratio: 4 / 3;
  }

  &__title {
    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 4px;
      font-size: $font-size__text--regular;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--small;
    }

    margin-bottom: 8px;
    font-size: $font-size__text--large;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: auto;
  }

  &__list {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--small;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: $font-size__text--small - 2px;

      li {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  &__action {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }
}
