.card-price {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
  padding-bottom: 32px;

  border-radius: $border-radius;
  background-color: $palette-white;
  box-shadow: 7px 4px 22px rgba(#b4b4b4, 0.25);

  &__title,
  &__cost {
    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-size__text--regular;
    }

    font-weight: $weight-Medium;
    font-size: $font-size__text--large;
  }

  &__title {
    width: 100%;

    margin-bottom: 54px;
    padding-top: 20px;
    padding-bottom: 24px;

    background-color: #f4f4f5;
    text-align: center;
  }

  &__picture {
    width: 175px;
    margin-bottom: 16px;

    aspect-ratio: 1 / 1;
  }
}
