<div class="modal modal-portfolio micromodal-slide" id="modal-portfolio" aria-hidden="true">
  <div class="modal__overlay" data-micromodal-close>
    <div class="modal__container" role="dialog">
      <div class="modal__header">
        <h3 class="modal__title">Наши проекты</h3>
        <img data-micromodal-close src="img/icons/control/modal__close.svg" alt="" class="modal__close">
      </div>
      <!-- /.modal__header -->

      <div class="modal__content">
        <div class="row">
          <div class="col-12 col-md-7 pe-0">
            <div class="modal-portfolio__gallery swiper slider-portfolio-gallery">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <picture class="modal-portfolio__picture lazy">
                    <img class="image image--cover lazy__item" data-src="img/layout/modal/portfolio/1.jpg" alt="">
                    <img alt="" class="preloader" src="img/misc/preloader.svg">
                  </picture>

                  <a data-fslightbox class="stretched-link" href=""></a>
                </div>
                <!-- /.swiper-slide -->

                <div class="swiper-slide">
                  <picture class="modal-portfolio__picture lazy">
                    <img class="image image--cover lazy__item" data-src="img/layout/modal/portfolio/2.jpg" alt="">
                    <img alt="" class="preloader" src="img/misc/preloader.svg">
                  </picture>

                  <a data-fslightbox class="stretched-link" href=""></a>
                </div>
                <!-- /.swiper-slide -->

                <div class="swiper-slide">
                  <picture class="modal-portfolio__picture lazy">
                    <img class="image image--cover lazy__item" data-src="img/layout/modal/portfolio/3.jpg" alt="">
                    <img alt="" class="preloader" src="img/misc/preloader.svg">
                  </picture>

                  <a data-fslightbox class="stretched-link" href=""></a>
                </div>
                <!-- /.swiper-slide -->

                <div class="swiper-slide">
                  <picture class="modal-portfolio__picture lazy">
                    <img class="image image--cover lazy__item" data-src="img/layout/modal/portfolio/4.jpg" alt="">
                    <img alt="" class="preloader" src="img/misc/preloader.svg">
                  </picture>

                  <a data-fslightbox class="stretched-link" href=""></a>
                </div>
                <!-- /.swiper-slide -->
              </div>
              <!-- /.swiper-wrapper -->

              <div class="swiper-pagination"></div>
            </div>
            <!-- /.modal-portfolio__gallery -->
          </div>
          <!-- /.col-7 -->

          <div class="col-12 col-md-5">
            <div class="modal-portfolio__content">
              <h3></h3>
              <ul class="list list--advantage">

              </ul>

              <p class="custom-scrollbar custom-scrollbar--gray">

              </p>
            </div>
            <!-- /.modal-portfolio__content -->
          </div>
          <!-- /.col-5 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.modal__content -->
    </div>
    <!-- /.modal__container -->
  </div>
  <!-- /.modal__overlay -->
</div>
<!-- /.modal -->