<div class="modal modal-success micromodal-slide" id="modal-success" aria-hidden="true">
  <div data-micromodal-close class="modal__overlay">
    <div class="modal__container" role="dialog">
      <div class="modal__header">
        <h3 class="modal__title">Заявка успешно отправлена</h3>
      </div>
      <!-- /.modal__header -->

      <div class="modal__content">
        <p class="modal__text">
          Наш менеджер перезвонит Вам
          <br>
          в течении 15 минут
        </p>
      </div>
      <!-- /.modal__content -->
    </div>
    <!-- /.modal__container -->
  </div>
  <!-- /.modal__overlay -->
</div>
<!-- /.modal -->