<div class="card-portfolio">
  <picture class="card-portfolio__picture lazy">
    <img class="image image--cover lazy__item" data-src="img/layout/page/portfolio-page/portfolio/picture.jpg" alt="">
    <img alt="" class="preloader" src="img/misc/preloader.svg">
  </picture>

  <h3 class="card-portfolio__title">Название проекта</h3>

  <div class="card-portfolio__wrapper">
    <ul class="card-portfolio__list list list--advantage">
      <li>Срок исполнения: <span>3 дня</span></li>
    </ul>

    <img src="img/icons/control/dots.svg" alt="" class="card-portfolio__action">
  </div>
  <!-- /.card-portfolio__wrapper -->
</div>
<!-- /.card-portfolio -->