<div data-micromodal-trigger="modal-portfolio" class="card-portfolio">
  <picture class="card-portfolio__picture lazy">
    <img class="image image--cover lazy__item" data-src="img/layout/page/portfolio-page/portfolio/picture.jpg" alt="">
    <img alt="" class="preloader" src="img/misc/preloader.svg">
  </picture>

  <h3 class="card-portfolio__title">Название проекта</h3>

  <div class="card-portfolio__wrapper">
    <ul class="card-portfolio__list list list--advantage">
      <li>Срок исполнения:&nbsp;<span>3 дня</span></li>
    </ul>

    <img src="img/icons/control/dots.svg" alt="" class="card-portfolio__action">
  </div>
  <!-- /.card-portfolio__wrapper -->

  <div class="card-portfolio__hidden content">
    <ul class="list">
      <li>Cрок эксплуатации:&nbsp;<span>3 дня</span></li>
      <li>Срок исполнения:&nbsp;<span>2 дня</span></li>
      <li>Что-то еще:&nbsp;<span>4 дня</span></li>
    </ul>

    <p class="text">
      Бурение скважин воду мобильной установкой включает в себя комплекс предварительных и практических работ.
      <br> <br>
      Бурение скважин воду мобильной установкой включает в себя комплекс предварительных и практических работ.
    </p>

    <div class="gallery">
      <a href="img/layout/modal/portfolio/1.jpg"></a>
      <a href="img/layout/modal/portfolio/2.jpg"></a>
      <a href="img/layout/modal/portfolio/3.jpg"></a>
      <a href="img/layout/modal/portfolio/4.jpg"></a>
    </div>
  </div>
  <!-- /.card-portfolio__hidden -->
</div>
<!-- /.card-portfolio -->