.list {
  &--advantage {
    li {
      color: $color-text__blue;
      font-weight: $weight-Medium;

      &:not(:last-child) {
        @include breakpoint($breakpoint-laptop--medium) {
          margin-bottom: 4px;
        }

        margin-bottom: 8px;
      }
    }

    span {
      color: $palette-darkblue;
      font-weight: $weight-Bold;
    }
  }
}
