.button {
  @include breakpoint($breakpoint-laptop--medium) {
    font-size: $font-size__text--regular;
    padding: 12px 24px;
  }

  padding: 14px 30px;

  border: 2px solid transparent;
  border-radius: $border-radius--button;
  outline: none;

  background-color: transparent;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
