.button {
  @include breakpoint($breakpoint-laptop--medium) {
    font-size: $font-size__text--regular;
  }

  padding: 18px 40px;

  border: 2px solid transparent;
  border-radius: $border-radius--small;
  outline: none;

  background-color: transparent;

  font-weight: $weight-Bold;
  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
