@@include('layout/partials/header.html')

<!-- Основной контент -->
<main id="404">
  <section id="not-found" class="section">
    <div class="container">
      <div class="not-found">
        <div class="row align-items-center">
          <div class="col-5">
            <div class="not-found__content">
              <div class="section__header">
                <h2 class="page__title">
                  Страница не найдена
                </h2>
              </div>
              <!-- /.section__header -->

              <p class="section__text">
                Самые вероятные причины ошибки - устаревшая ссылка
                <br>
                или страница была удалена автором.
                <br><br>
                Перейдите на главную страницу и попробуйте начать оттуда.
              </p>

              <button class="button button-primary">На главную</button>
            </div>
            <!-- /.not-found__content -->
          </div>
          <!-- /.col-5 -->

          <div class="col-6 offset-1">
            <picture class="not-found__picture">
              <img src="img/layout/page/404/picture.svg" alt="">
            </picture>
          </div>
          <!-- /.col-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.not-found -->
    </div>
    <!-- /.container -->
  </section>
</main>

@@include('layout/partials/footer.html')