@@include('layout/partials/header.html')

<!-- Основной контент -->
<main id="contact-page" class="offset">
  <section id="contact" class="section">
    <div class="container">
      <div class="contact">
        <div class="row justify-content-between">
          <div class="col-12 col-md-6">
            <div class="contact__content">
              <div class="section__header">
                <h2 class="page__title">
                  Контакты
                </h2>
              </div>
              <!-- /.section__header -->

              <div class="contact__list">
                <div class="row">
                  <div class="col-6">
                    <div class="contact__item">
                      <div class="contact__important">Работа с клиентами</div>
                      <div>Иван</div>
                      <a class="link" href="tel:">+7 843 505-11-55</a>
                    </div>
                    <!-- /.contact__item -->

                    <div class="contact__item">
                      <div class="contact__important">Директор</div>
                      <div>Иван</div>
                      <a class="contact__link link" href="tel:">+7 843 505-11-55</a>
                    </div>
                    <!-- /.contact__item -->

                    <div class="contact__item">
                      <div class="contact__important">Прораб</div>
                      <div>Иван</div>
                      <a class="contact__link link" href="tel:">+7 843 505-11-55</a>
                    </div>
                    <!-- /.contact__item -->
                  </div>
                  <!-- /.col-6 -->

                  <div class="col-6">
                    <div class="contact__item">
                      <div>По всем вопросам:</div>
                      <a class="contact__important link" href="mailto:">vodaservis16@yandex.ru</a>
                      <br>
                      &nbsp;
                    </div>
                    <!-- /.contact__item -->

                    <div class="contact__item">
                      <div>Телефон горячей линии</div>
                      <a class="contact__important link" href="tel:">+7 843 505-11-55</a>
                      <br>
                      &nbsp;
                    </div>
                    <!-- /.contact__item -->

                    <div class="contact__item">
                      <div>По всем вопросам:</div>
                      <a class="contact__important link" href="tel:">
                        г. Казань,
                        <br>
                        Мамадышский тракт,
                        <br>
                        43 б
                      </a>
                    </div>
                    <!-- /.contact__item -->
                  </div>
                  <!-- /.col-6 -->
                </div>
                <!-- /.row -->
              </div>
              <!-- /.contact__list -->
            </div>
            <!-- /.contact__content -->
          </div>
          <!-- /.col-6 -->

          <div class="col-10 col-md-5 col-xl-4 mx-auto">
            <picture class="contact__picture lazy">
              <img class="image image--contain lazy__item lazy__item--blur" data-src="img/layout/page/contact-page/contact/picture.png" src="img/layout/page/contact-page/contact/thumb.png" alt="">
            </picture>
          </div>
          <!-- /.col-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.contact -->
    </div>
    <!-- /.container -->
  </section>

  <section id="map" class="section">
    <div class="container">
      <div class="map">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10">
            <div class="map__wrapper lazy">
              <iframe class="lazy__item" data-src="https://yandex.ru/map-widget/v1/?um=constructor%3A2ee8c0203e8011213a31527b420f11402ed2094b98b1d44e5451baad578b10f3&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
              <img alt="" class="preloader" src="img/misc/preloader.svg">
            </div>
            <!-- /.map__wrapper -->
          </div>
          <!-- /.col-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.map -->
    </div>
    <!-- /.container -->
  </section>

  @@include('layout/section/callback.html')

</main>

@@include('layout/partials/footer.html')