@@include('layout/partials/header.html')

<!-- Основной контент -->
<main id="faq" class="offset">
  <section id="faq" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="page__title text-center">
          Часто задаваемые вопросы
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="faq">
        @@include('layout/template/component/accordion.html')
      </div>
      <!-- /.terminology -->
    </div>
    <!-- /.container -->
  </section>

  @@include('layout/section/callback.html')
</main>

@@include('layout/partials/footer.html')