@@include('layout/partials/header.html')

<!-- Основной контент -->
<main id="faq" class="page">
  <section id="faq" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="page__title text-center">
          Часто задаваемые вопросы
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="faq">
        <div class="row justify-content-center">
          <div class="col-10 mb-n3">
            <div class="handorgel mb-3">
              <div class="handorgel__header">
                <button class="handorgel__header__button">
                  <h3 class="handorgel__header__text">
                    Входит ли стоимость оборудования в стоимость?
                  </h3>
                  <!-- /.handorgel__header__text -->

                  <div class="handorgel__indicator">
                    <img alt="" class="handorgel__arrow" src="img/icons/control/dropdown__cross.svg">
                  </div>
                  <!-- /.handorgel__indicator -->
                </button>
              </div>
              <!-- /.handorgel__header -->

              <div class="handorgel__content" data-open>
                <div class="handorgel__content__inner">
                  <div data-editor="default">
                    <p>
                      Описание услуги уникальное пространство красоты, в котором слились в одно целое высококачественный сервис и искусство создания истинно элегантных и стильных образов с учетом последних тенденций и индивидуальных особенностей каждого клиента.
                    </p>
                  </div>
                  <!-- /.editor -->
                </div>
                <!-- /.handorgel__content__inner -->
              </div>
              <!-- /.handorgel__content -->
            </div>
            <!-- /.handorgel -->

            <div class="handorgel mb-3">
              <div class="handorgel__header">
                <button class="handorgel__header__button">
                  <h3 class="handorgel__header__text">
                    Входит ли стоимость оборудования в стоимость?
                  </h3>
                  <!-- /.handorgel__header__text -->

                  <div class="handorgel__indicator">
                    <img alt="" class="handorgel__arrow" src="img/icons/control/dropdown__cross.svg">
                  </div>
                  <!-- /.handorgel__indicator -->
                </button>
              </div>
              <!-- /.handorgel__header -->

              <div class="handorgel__content">
                <div class="handorgel__content__inner">
                  <div data-editor="default">
                    <p>
                      <b>Водоподготовка</b> — обработка воды, поступающей из природного водоисточника, для приведения её качества в соответствие с требованиями технологических потребителей.
                    </p>
                  </div>
                  <!-- /.editor -->
                </div>
                <!-- /.handorgel__content__inner -->
              </div>
              <!-- /.handorgel__content -->
            </div>
            <!-- /.handorgel -->

            <div class="handorgel mb-3">
              <div class="handorgel__header">
                <button class="handorgel__header__button">
                  <h3 class="handorgel__header__text">
                    Входит ли стоимость оборудования в стоимость?
                  </h3>
                  <!-- /.handorgel__header__text -->

                  <div class="handorgel__indicator">
                    <img alt="" class="handorgel__arrow" src="img/icons/control/dropdown__cross.svg">
                  </div>
                  <!-- /.handorgel__indicator -->
                </button>
              </div>
              <!-- /.handorgel__header -->

              <div class="handorgel__content">
                <div class="handorgel__content__inner">
                  <div data-editor="default">
                    <p>
                      Описание услуги уникальное пространство красоты, в котором слились в одно целое высококачественный сервис и искусство создания истинно элегантных и стильных образов с учетом последних тенденций и индивидуальных особенностей каждого клиента.
                    </p>
                  </div>
                  <!-- /.editor -->
                </div>
                <!-- /.handorgel__content__inner -->
              </div>
              <!-- /.handorgel__content -->
            </div>
            <!-- /.handorgel -->

            <div class="handorgel mb-3">
              <div class="handorgel__header">
                <button class="handorgel__header__button">
                  <h3 class="handorgel__header__text">
                    Входит ли стоимость оборудования в стоимость?
                  </h3>
                  <!-- /.handorgel__header__text -->

                  <div class="handorgel__indicator">
                    <img alt="" class="handorgel__arrow" src="img/icons/control/dropdown__cross.svg">
                  </div>
                  <!-- /.handorgel__indicator -->
                </button>
              </div>
              <!-- /.handorgel__header -->

              <div class="handorgel__content">
                <div class="handorgel__content__inner">
                  <div data-editor="default">
                    <p>
                      Описание услуги уникальное пространство красоты, в котором слились в одно целое высококачественный сервис и искусство создания истинно элегантных и стильных образов с учетом последних тенденций и индивидуальных особенностей каждого клиента.
                    </p>
                  </div>
                  <!-- /.editor -->
                </div>
                <!-- /.handorgel__content__inner -->
              </div>
              <!-- /.handorgel__content -->
            </div>
            <!-- /.handorgel -->
          </div>
          <!-- /.col-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.terminology -->
    </div>
    <!-- /.container -->
  </section>

  @@include('layout/section/callback.html')
</main>

@@include('layout/partials/footer.html')