@@include('layout/partials/header.html')

<!-- Основной контент -->
<main id="home">
  <section id="hero" class="section">
    <div class="container">
      <div class="hero">
        <div class="row">
          <div class="col-6">
            <div class="hero__content">
              <h1 class="page__title section__title hero__title">
                Бурение и обустройство
                <br>
                скважин на воду
              </h1>

              <p class="page__text hero__text">
                Гарантия от 3 лет. Любая форма оплаты.
                <br>
                Пластиковые кессоны и погреба.
                <br>
                Сервисное обслуживание. Фильтрация воды.
              </p>

              <div class="hero__action">
                <button class="button button-primary me-4">Консультация</button>
                <button class="button button-outline">Наши услуги</button>
              </div>
              <!-- /.hero__action -->
            </div>
            <!-- /.hero__content -->
          </div>
          <!-- /.col-6 -->

          <div class="col-6">
            <picture class="hero__picture lazy">
              <img class="lazy__item lazy__item--blur image image--contain" src="img/layout/page/index/hero/thumb.png" data-src="img/layout/page/index/hero/picture.png" alt="">
            </picture>
          </div>
          <!-- /.col-6 -->
        </div>
        <!-- /.row -->

      </div>
      <!-- /.hero -->
    </div>
    <!-- /.container -->
  </section>

  <section id="service" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title text-center">
          Какие услуги мы предоставляем
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="service">
        <div class="row justify-content-center">
          <div class="col-10">
            <div class="service__grid">
              @@include('layout/template/card/service.html', {
              "title": "Бурение скважин для индивидуального водоснабжения",
              "price": "от 50 000 р.",
              "image": "img/layout/template/card/service/1.svg"
              })

              @@include('layout/template/card/service.html', {
              "title": "Обустройство скважины",
              "price": "от 50 000 р.",
              "image": "img/layout/template/card/service/2.svg"
              })

              @@include('layout/template/card/service.html', {
              "title": "Промышленное бурение",
              "price": "от 50 000 р.",
              "image": "img/layout/template/card/service/3.svg"
              })

              @@include('layout/template/card/service.html', {
              "title": "Фильтрация воды",
              "price": "от 50 000 р.",
              "image": "img/layout/template/card/service/4.png"
              })

              @@include('layout/template/card/service.html', {
              "title": "Бурение разведочно-поисковых скважин",
              "price": "от 50 000 р.",
              "image": "img/layout/template/card/service/5.svg"
              })

              @@include('layout/template/card/service.html', {
              "title": "Сервис и регламентное <br> обслуживание",
              "price": "от 50 000 р.",
              "image": "img/layout/template/card/service/6.svg"
              })
            </div>
            <!-- /.service__grid -->
          </div>
          <!-- /.col-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.service -->
    </div>
    <!-- /.container -->
  </section>

  <section id="terminology" class="section">
    <div class="container">
      <div class="section__header">
        <h2 class="section__title text-center">
          Терминология
        </h2>
      </div>
      <!-- /.section__header -->

      <div class="terminology">
        <div class="row justify-content-center">
          <div class="col-10">
            <div class="handorgel">
              <div class="handorgel__header">
                <button class="handorgel__header__button">
                  <h3 class="handorgel__header__text">
                    Бурение
                  </h3>
                  <!-- /.handorgel__header__text -->

                  <div class="handorgel__indicator">
                    <img alt="" class="handorgel__arrow" src="img/icons/control/dropdown__cross.svg">
                  </div>
                  <!-- /.handorgel__indicator -->
                </button>
              </div>
              <!-- /.handorgel__header -->

              <div class="handorgel__content" data-open>
                <div class="handorgel__content__inner">
                  <div data-editor="default">
                    <p>
                      Описание услуги уникальное пространство красоты, в котором слились в одно целое высококачественный сервис и искусство создания истинно элегантных и стильных образов с учетом последних тенденций и индивидуальных особенностей каждого клиента.
                    </p>
                  </div>
                  <!-- /.editor -->
                </div>
                <!-- /.handorgel__content__inner -->
              </div>
              <!-- /.handorgel__content -->
            </div>
            <!-- /.handorgel -->

            <div class="handorgel">
              <div class="handorgel__header">
                <button class="handorgel__header__button">
                  <h3 class="handorgel__header__text">
                    Скважина
                  </h3>
                  <!-- /.handorgel__header__text -->

                  <div class="handorgel__indicator">
                    <img alt="" class="handorgel__arrow" src="img/icons/control/dropdown__cross.svg">
                  </div>
                  <!-- /.handorgel__indicator -->
                </button>
              </div>
              <!-- /.handorgel__header -->

              <div class="handorgel__content">
                <div class="handorgel__content__inner">
                  <div data-editor="default">
                    <p>
                      <b>Водоподготовка</b> — обработка воды, поступающей из природного водоисточника, для приведения её качества в соответствие с требованиями технологических потребителей.
                    </p>
                  </div>
                  <!-- /.editor -->
                </div>
                <!-- /.handorgel__content__inner -->
              </div>
              <!-- /.handorgel__content -->
            </div>
            <!-- /.handorgel -->

            <div class="handorgel">
              <div class="handorgel__header">
                <button class="handorgel__header__button">
                  <h3 class="handorgel__header__text">
                    Водоподготовка
                  </h3>
                  <!-- /.handorgel__header__text -->

                  <div class="handorgel__indicator">
                    <img alt="" class="handorgel__arrow" src="img/icons/control/dropdown__cross.svg">
                  </div>
                  <!-- /.handorgel__indicator -->
                </button>
              </div>
              <!-- /.handorgel__header -->

              <div class="handorgel__content">
                <div class="handorgel__content__inner">
                  <div data-editor="default">
                    <p>
                      Описание услуги уникальное пространство красоты, в котором слились в одно целое высококачественный сервис и искусство создания истинно элегантных и стильных образов с учетом последних тенденций и индивидуальных особенностей каждого клиента.
                    </p>
                  </div>
                  <!-- /.editor -->
                </div>
                <!-- /.handorgel__content__inner -->
              </div>
              <!-- /.handorgel__content -->
            </div>
            <!-- /.handorgel -->

            <div class="handorgel">
              <div class="handorgel__header">
                <button class="handorgel__header__button">
                  <h3 class="handorgel__header__text">
                    Клапан
                  </h3>
                  <!-- /.handorgel__header__text -->

                  <div class="handorgel__indicator">
                    <img alt="" class="handorgel__arrow" src="img/icons/control/dropdown__cross.svg">
                  </div>
                  <!-- /.handorgel__indicator -->
                </button>
              </div>
              <!-- /.handorgel__header -->

              <div class="handorgel__content">
                <div class="handorgel__content__inner">
                  <div data-editor="default">
                    <p>
                      Описание услуги уникальное пространство красоты, в котором слились в одно целое высококачественный сервис и искусство создания истинно элегантных и стильных образов с учетом последних тенденций и индивидуальных особенностей каждого клиента.
                    </p>
                  </div>
                  <!-- /.editor -->
                </div>
                <!-- /.handorgel__content__inner -->
              </div>
              <!-- /.handorgel__content -->
            </div>
            <!-- /.handorgel -->
          </div>
          <!-- /.col-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.terminology -->
    </div>
    <!-- /.container -->
  </section>

  @@include('layout/section/callback.html')
</main>

@@include('layout/partials/footer.html')